.Desktop__Header {
    display: flex;
    justify-content: center;

    .Header__div {
        display: flex;
        width: 85%;
        justify-content: space-between;
    }

    h2 {
        margin: 20px 0;
    }
}